section {
  width: 40%;
  display: block;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;

  .seats {
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 60%;
    background-image: url("../../../assets/planeShadow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    .row {
      padding: 0 15%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .seat {
        color: gray;
        padding: 0;
        font-weight: 600;
        font-size: 12px;
        background-color: transparent;
        border: 2px solid gray;
        border-radius: 5px;
        margin: 2px;
        width: 35px;
        height: 50%;
        position: relative;
        cursor: pointer;
        min-width: 0;

        &:nth-of-type(2) {
          margin-right: 5px;
        }
      }
      .premium {
        background-color: lightskyblue;
      }
      .bussines {
        background-color: lightgreen;
      }
      .firstclass {
        background-color: yellow;
      }
      .selected {
        color: white;
        background-color: blue;
      }
    }
  }
}

@media (max-width: 985px) {
  .container {
    section {
      width: 100%;
      display: block;
    }
    .seats {
      width: 100%;
      .row {
        .seat {
          &:nth-of-type(2) {
            margin-right: 100px;
          }
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .container {
    padding: 5px;
    .seats {
      display: block;
      .row {
        height: 70px;
        padding: 0;

        .seat {
          &:nth-of-type(2) {
            margin-right: 40px;
          }
        }
      }
    }
  }
}
