section {
    width: 40%;
    display: block;
  }
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 8px;
    display: flex;
    flex-wrap: wrap;
  }

  .flightlist {
    min-width: 60%;
  }

mat-card {
    margin: 4px 0;


strong {
    font-size: 1.2rem;
}
}

img {
    width: 3rem;
    width: inherit;
    position: relative;
}

mat-card-content {
    width: 100%;
    display: inline;
    justify-content: center;
    align-items: center;
 
}

#kolor {
  border: 1px solid gray; 
  background: #F4F0DF;} 
#kolor:hover {
  border: 1px solid navy; 
  background: #3891b1;} 
#kolor:focus {
    border: 1px solid rgb(41, 99, 80); 
    background: #3891b1;} 

.demo-table {
    width: 100%;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }

  .fw700 {
      font-size: 0.8rem;
  }

  .row {
      width: 100%;
  }

// .left_col { float: left; width: 30%; }

// .right_col { float:right; width: 70%; }

