
  img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    margin: 0;
    padding-top: 1em;
    display: inline-block;
  }
  h1 {
    color: white;
    text-shadow: 2px 2px 40px black, 2px 2px 20px black;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    padding-top: 2em;
  }
  .foto {
    position: relative;
  }

  @media (max-width: 600px) {
    h2 {
      font-size: 2.5rem;
    }
  }