section{
    height: 70vh;
    // background-image: url(https://www.medicover.pl/Data/Thumbs/storage_files/2021/5/6/d55d62da-b99e-4f95-9542-3ec4e49603a0/wlochy-covid-obostrzenia.webp?preset=1200x900);
    background-image: url(https://flipohity.pl/wp-content/uploads/2019/04/Flydragonfly-Dreamstime.com-cadaques.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div {
    text-align: center;
  }
  h1 {
    font-weight: 500;
    font-size: 10em;
    padding: 180px 0;
  }

  #france{
    background-image: url(https://ecsmedia.pl/c/obraz-francja-paryz-120x80-cm-b-iext52453539.jpg);
  }

  #italy{
    background-image: url(https://www.medicover.pl/Data/Thumbs/storage_files/2021/5/6/d55d62da-b99e-4f95-9542-3ec4e49603a0/wlochy-covid-obostrzenia.webp?preset=1200x900)
  }

  #spain{
    background-image: url(https://flipohity.pl/wp-content/uploads/2019/04/Flydragonfly-Dreamstime.com-cadaques.jpg)
  }

  #swis{
    background-image: url(https://www.aplikuj.pl/userfiles/porady/1780/156284190124013200.jpg)
  }

  @media (max-width: 600px) {
    section {
      height: 80vh;
    }
  }
  .information{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 30px;
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p{
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 20px;
  }
  td{
    width: 200px;
    padding: 5px;
  }
  