
<div class="container">

 <section>
<div class="information">
    <p>{{chosenCountry}}</p>
    <table>
      <tbody>
        <tr>
          <td>Populacja</td>
          <td>{{population}}</td>
        </tr>
        <tr>
          <td>Stolica</td>
          <td>{{capital}}</td>
        </tr>
        <tr>
          <td>Język</td>
          <td>{{lang}} </td>
        </tr>

      </tbody>
    </table>
    
  </div>
  </section> 
  <div class="container">
 
  <button routerLink="/" mat-raised-button color="primary">Back to home</button>

</div>
</div>